@model eManager.Domain.Department

@{
    ViewBag.Title = "Department Detail";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model.Eployees)
    {
      <tr>
        <td>@employee.Name</td>
        <td>

        </td>
      </tr>
    }
  </tbody>
</table>