@model eManager.Domain.Department

@{
    ViewBag.Title = "Department Detail";
}

<h2>@Model.Name</h2>


@Html.ActionLink("Create an employee", "Create", "Employee", new { DepartmentId = Model.Id }, null)

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model.Employees)
    {
      <tr>
        <td>@employee.Name</td>
        <td>

        </td>
      </tr>
    }
  </tbody>
</table>